.contact-form4-contact9 {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 0px;
    flex-direction: column;
  }
   
  .contact-form4-content1 {
    gap: 0;
    flex: 1;
    align-items: stretch;
  }
   
  .contact-form4-section-title {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
   
  .contact-form4-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
   
  .contact-form4-input1 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
   
  .contact-form4-input2 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
   
  .contact-form4-input3 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
   
  .contact-form4-container {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
   
  .contact-form4-button {
    align-self: flex-start;
    font-family: "Montserrat-Regular";
  }
   
  .contact-form4-text15 {
    display: inline-block;
  }
   
  .contact-form4-text16 {
    color: var(--dl-color-theme-primary1);
    font-size: 25px;
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
  }
   
  .contact-form4-text17 {
    color: var(--dl-color-theme-primary1);
    font-size: 25px;
    font-family: "Montserrat-Regular";
  }
   
  .contact-form4-text20 {
    display: inline-block;
    font-family: "Montserrat-Regular";
  }
   
  
   
  @media(max-width: 991px) {
    .contact-form4-max-width {
      flex-direction: column;
    }
    .contact-form4-content1 {
      width: 100%;
    }
  }
  